.annotation{
  display: flex;
  gap: 1rem;
  width: 120px;
  z-index: 0;
  transition: all 0.3s;

  > a{
    letter-spacing: 1px;
    padding: 5px 20px;
    background: var(--gradient);
    color: var(--lightColor);
    border-radius: var(--borderRadius);
  }
}

b{
  color: var(--lightColor);
}