.annotation{
  display: flex;
  gap: 1rem;
  width: 120px;
  z-index: 0;
  transition: var(--transitionTime);

  > a{
    letter-spacing: 1px;
    padding: 5px 20px;
    background: var(--gradient);
    color: var(--lightColor);
    border-radius: var(--borderRadius);

    &:nth-child(2){
      padding-inline: 16px;
    }
  }
}

b{
  color: var(--lightColor);
}