.annotation{
  display: flex;
  gap: 1rem;
  width: 120px;
  z-index: 0;
  transition: var(--transition-time-100);

  > a{
    letter-spacing: 1px;
    padding: 5px 20px;
    background: var(--dark-color-200);
    color: var(--light-color-100);
    border-radius: var(--border-radius-100);

    &:nth-child(2){
      padding-inline: 1rem;
    }

    &:hover{
      background: var(--dark-color-200-hover);

      @media (hover: none) {
        background: initial;
      }
    }
  }
}

b{
  color: var(--light-color-100);
}