.annotation-wrapper{
  margin-top: 270px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  &:has(.annotation:hover) .annotation:not(:hover){
    opacity: 0.8;
    filter: blur(3px)
  }
}