.annotation{
    width: 37px;
    height: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
}

.annotation > a{
  font-size: 5px;
  width: 17px;
  border-radius: 50px;
  transition: all 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  color: black;
  font-weight: 500;
  font-size: 5px;
  padding-block: 1px;
  font-family: Helvetica Neue;
}

.annotation > a:hover{
  border: 1px solid #38bdf8;
}

.live{
  background: linear-gradient(to right, #38bdf8, #c084fc);
}

.code{
  background: white;
  margin-left: 2px;
}