.annotation-wrapper{
  margin-top: 270px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.annotation-wrapper > .annotation{
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.annotation-wrapper > .annotation a{
  color: var(--darkColor);
  border: 2px solid var(--darkColor);
  transition: all 0.1s;
}

.annotation-wrapper > .annotation a:hover{
  border: 2px solid var(--lightColor);
  box-shadow: 0 -0.5px 10px 5px var(--lightColor);
}

.annotation-wrapper > .annotation .live{
  background: var(--gradient);
  padding: 5px 20px;
  border-radius: 20px;
  font-weight: 800;
}

.annotation-wrapper > .annotation .code{
  background: var(--lightColor);
  height: 35px;
  aspect-ratio: 1;
  border-radius: 50%;
  font-family: Helvetica Neue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3px;
}

.bold{
  margin-bottom: 10px;
}