.contact-wrapper{
  height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1.5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--darkColor200);
  transition: var(--transitionTime);

  &:hover{
    background: var(--darkColor200Hover);
  }

  > a{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    > img{
      height: 75%;
      width: 75%;
      object-fit: cover;
      filter: invert();
      pointer-events: none;
      margin-left: 1px;
      margin-top: 1px;
    }
  }

  > .mail{
    margin-top: 6px;
  }
}


