.hamburger{
    position: relative;
    width: clamp(1.875rem, 0.3125rem + 5vw, 3.125rem);
    height: 1rem;
    cursor: pointer;
    border-block-start: 3px solid var(--lightColor);
    transition: var(--transitionTime);

    &::after, &::before{
        content: '';
        position: absolute;
        height: 3px;
        transform: translateY(-50%);
        pointer-events: none;
        background: var(--lightColor);
    }

    &::after{
        top: 50%;
        left: 50%;
        width: 50%;
        transition: all 0.1s;
    }

    &::before{
        top: calc(100% + 1.5px);
        left: 30%;
        width: 70%;
        transition: all 0.3s;
    }
}

@media (min-width: 768px){

  .hamburger{
    height: 22px;
  }

  .hamburger:hover{
    &:hover::after, &:hover::before{
      left: 0;
    }
  }
}


/*_______________________________________*/
.menu-container{
    position: fixed;
    top: 0;
    right: 0;
    transform: translateX(100%);
    height: 100svh;
    width: 20%;
    background: linear-gradient(rgb(0, 0, 199, 0.7), transparent);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 2rem;
    transition: all 0.5s;
    border-left: 5px solid var(--darkColor100);
    padding-right: var(--navMargin);
    
    &.active{
        transform: translateX(0);
    }

    .close{
        position: absolute;
        top: 1rem;
        cursor: pointer;
        color: var(--lightColor);
        right: var(--navMargin);
    }

    .menu-child{
        display: flex;
        flex-direction: column;
        gap: 0.7em;
        text-align: right;

        > a,
        > p{
            cursor: pointer;
            transition: padding-right 0.1s;
            letter-spacing: 1px;
            color: var(--lightColor);

            &:hover{
                text-decoration: underline;
                padding-right: 10px;
            }
        }
    }
      
    .menu-links > p{
        font-size: clamp(1.25rem, 0.4688rem + 2.5vw, 1.875rem);
    }

    .quick-contact{
        font-size: clamp(0.75rem, 0.4375rem + 1vw, 1rem);

        > h3{
            font-size: clamp(1rem, 0.6875rem + 1vw, 1.25rem);
            color: #00daff;
            border-bottom: 2px solid #00daff;
        }

        > a,
        > p{
            font-size: 18px;
        }
    }

    span{
        position: absolute;
        bottom: 1rem;
        color: rgb(255, 255, 255, 0.7);
    }
}

@media (max-width: 1200px){
    .menu-container{
        width: 30%;
    }
}

@media (max-width: 768px){
    .menu-container{
        width: 40%;
    }
}

@media (max-width: 500px){
    .menu-container{
        width: 75%;
    }
}