.loading-screen {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 3s;
  z-index: 1000;
  transition-delay: 1.5s;
}

.loading-screen--started{
  opacity: 0;
  pointer-events: none;
}

.loading-triangle{
  height: clamp(6.25rem, -9.375rem + 50vw, 18.75rem);
}

.loading-triangle-inner{
  margin-left: clamp(1.04375rem, -1.5578rem + 8.325vw, 3.125rem);
} 
