.loading-screen {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background: var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s;
  z-index: 1000;

  .loading-wrapper{

    > h3{
      color: var(--modalColor);
      letter-spacing: 1px;
    }

    > h1{
      color: var( --contrastColorTwo);
      margin-top: 0.5rem;
      animation: pulse 1s infinite linear;
    }
  }

}

.loading-screen-disappear{
  opacity: 0;
  pointer-events: none;
}

@keyframes pulse {
  0%, 100% { 
    opacity: 1;
  }

  50% { 
    opacity: 0.3;
  }
}