.hamburger-wrapper{
  height: 2.5rem;
  aspect-ratio: 1;
  border: 2px solid var(--dark-color-200);
  transition: var(--transition-time-100);

  &:hover{
    border: 2px solid var(--light-color-100);
  }

  @media (max-width: 768px){
    border: none;
  }

  .hamburger{
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--border-radius-100);
  }
}