.overlay{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(7, 7, 7, 0.5);
  backdrop-filter: blur(10px);
  z-index: 3000;
  transition: var(--transitionTime);

  .modal{
    position: relative;
    max-width: 320px;
    width: 100%;
    transition: var(--transitionTime);

    .top-bar{
      position: relative;
      width: 100%;
      height: calc(25px);
      background: transparent;
      display: flex;
      justify-content: flex-end;

      > .close-bar{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        padding-top: 0.5rem;
        padding-right: 0.5rem;
        background: var(--modalBackground);
      
        &::after{
          content: '';
          position: absolute;
          top: 0%;
          right: 50%;
          height: 101%;
          width: 50px;
          clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          background: var(--modalBackground);
        }

        .close{
          cursor: pointer;
        }
      }
    }

    .form-wrapper{
      padding: 1rem;
      background: var(--modalBackground);

      form{
        display: grid;
        gap: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid var(--darkColor100);

        textarea, input{
          background: none;
          border: none; 
          outline: none;
          caret-color: var(--contrastColorTwo);
        }
        
        input{
          padding-block: 0.75rem;
          margin-top: 1rem;
          border-block: 1px solid var(--darkColor100);
        }

        textarea{
          resize: none;
          height: 150px;
          border-bottom: 1px solid var(--darkColor100);
        }

        > button{
          position: relative;
          padding-block: 0.75rem;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          font-size: 1rem;
          font-weight: bold;
          background: var(--contrastColorTwo);
          color: var(--lightColor);
          transition: var(--transitionTime);
        
          &::after, &::before{
            content: '';
            position: absolute;
            height: 30%;
            aspect-ratio: 2 / 1;
            background: var(--modalBackground);
          }

          &::after{
            bottom: -1px;
            right: -1px;
            clip-path: polygon(100% 0, 0% 100%, 100% 100%);
          }
        
          &::before{
            top: -1px;
            left: -1px;
            clip-path: polygon(0 0, 0% 100%, 100% 0);
          }
        
          &:hover{
            background: var(--contrastColorTwoHover);
          }
        }
      }

      .contact-links{
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        margin-top: 1rem;
      
        > a{
          max-width: max-content;      
          font-weight: 500;         
          color: var(--darkColor100);
          transition: var(--transitionTime);
      
          &:hover{
            margin-left: 0.2rem;
          }
        }
      }
    }
  }
}


/*______________Sending animation______________*/
.sending{
  animation: sending 1s linear infinite;
  pointer-events: none;
}

@keyframes sending{
  0%, 100%{
    color: var(--lightColor);
  }
  50%{
    color: rgb(255, 255, 255, 0.2);
  }
}