:root{
  --grey: #4f4f4f;
  --blue: #2e70ff;
  --blueLighter: rgba(46,112,255,0.65);
  --boxShadowBlue: rgba(46,112,255,0.54);
  --boxShadowBlueLow: rgba(46,112,255,0.3);

  --transitionTime: all 0.1s;
  --gapValue: 1.5rem;
  --paddingValue: 1.5rem;
  --borderRadiusForm: 10px;
}

::placeholder{
  font-size: 12px;
  color: var(--grey);
}

.overlay{
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(7, 7, 7, 0.5);
  backdrop-filter: blur(10px);

  .modal{
    position: relative;
    width: 300px;
    color: var(--grey);
    padding: var(--paddingValue);
    background: var(--darkColor);
    border: 1px solid var(--grey);
    transition: var(--transitionTime);
    border-radius: var(--borderRadiusForm);
    z-index: 3000;

    @media (max-width: 450px){
      margin-top: var(--paddingValue);
    }

    .contact-links > a{
      max-width: max-content;
    }
 
    &:hover{
      color: var(--blue);
      border: 1px solid var(--blue);
      box-shadow: -1px 1px 92px -8px var(--boxShadowBlue);
      -moz-box-shadow: -1px 1px 92px -8px var(--boxShadowBlue);
      -webkit-box-shadow: -1px 1px 92px -8px var(--boxShadowBlue);

      form{
        .form-input{
          border-bottom: 1px solid var(--blueLighter);

          &:focus{
            border-bottom: 1px solid var(--blue);
          }

          &::placeholder{
            color: var(--lightColor)
          }
        }
      }

      .contact-links > a{
        color: var(--blue);
      }
    } 

    .close{
      position: absolute;
      top: 0.75rem;
      right: 0.75rem;
      cursor: pointer;
      color: rgb(255, 255, 255, 0.55); 
      transition: var(--transitionTime);

      &:hover{
        color: var(--lightColor);
      }
    }

    form{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--gapValue);
      transition: var(--transitionTime);

      .form-input{
        width: 100%;
        padding: 5px;
        border: none;
        background: none;
        color: var(--lightColor);
        border-bottom: 1px solid var(--grey);

        &:nth-child(1){
            margin-top: var(--paddingValue);
        }

        &:focus{
          outline: none;
        }
      }

      textarea{
        resize: none;
        height: 180px;
      }    
    
      .submit {
        font-size: 1rem;
        cursor: pointer;
        padding: 0.6rem 2rem;
        color: rgb(255, 255, 255, 0.55); 
        border: 1px solid rgb(255, 255, 255, 0.55);
        transition: var(--transitionTime);
        border-radius: var(--borderRadiusForm);
        
        &:hover{
          color: var(--lightColor); 
          border: 1px solid var(--lightColor);
        }
      }
    }

    .contact-links{
      display: grid;
      gap: 5px;
      margin-top: var(--gapValue);

      > a{
        color: var(--grey);
        transition: var(--transitionTime);

        &:hover{
          text-decoration: underline;
          color: var(--lightColor); 
        }                
      }
    }
  }
}