.drag-notice{
  position: absolute;
  top: 12vh;
  left: 50%;
  transform: translateX(-50%);
  gap: 0.5rem;
  padding: 0.7rem 1rem;
  backdrop-filter: var(--blur-100);
  background: var(--bg-color-200);
  border-radius: var(--border-radius-100);
  color: var(--light-color-100);
    
  .hand{
    animation: drag 2s infinite;
  }
}

@keyframes drag{
  0%, 100%{
    transform: translateX(-100%);
  }

  50%{
    transform: translateX(100%);
  }
}