.drag-notice{
    position: absolute;
    top: 12vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--bg-color-200);
    padding: 0.7rem 1rem;
    color: var(--light-color-100);
    border-radius: var(--border-radius-100);
    
    .hand{
        animation: drag 2s infinite;
    }
}

@keyframes drag{
    0%, 100%{
        transform: translateX(-100%);
    }

    50%{
        transform: translateX(100%);
    }
}