@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');


:root{
  --gradient: linear-gradient(to right, #38bdf8, #c084fc);
  --gradientLogo: linear-gradient(to left, #38bdf8, #c084fc);
  --contrastColorOne: #c084fc;
  --contrastColorTwo: #38bdf8;
  --lightColor: #fff;
  --darkColor: #000;
  --background:#000;

  --navMargin: 32px;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  user-select: none;
}

body, #root{
  height: 100vh;
  background: var(--background);
}

.canvas{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

a{
  text-decoration: none;
  color: var(--lightColor);
}