@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700&display=swap');


:root{
  --light-color-100: #fff;
  --light-color-200: #dfe1e4;
  --dark-color-100: #000;
  --dark-color-200: #0c0d11;
  --dark-color-200-hover: #333b44;
  --accent-color-100: #4242dc;
  --accent-color-100-hover: #3232ad;
  --accent-color-200: #00daff;
  --bg-color-100: #000;
  --bg-color-200: rgb(7, 7, 7, 0.5);
  --gradient-100: linear-gradient(rgb(0, 0, 199, 0.7), transparent);
  --gradient-200: linear-gradient(135deg, #4242dc 31%, #e49fe2 100%);

  --transition-time-100: all 0.1s;
  --border-radius-100: 1px;
  --nav-margin: 32px;

  --font-family-100: 'Manrope', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-100);
  user-select: none;
  text-decoration: none;
}

body, #root{
  height: 100vh;
  background: var(--bg-color-100);
}

.canvas{
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

a{
  color: var(--light-color-100);
}

button{
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  &:focus{
    outline: none;
    box-shadow: none;
  }
}

::placeholder{
  font-size: 12px;
}