.logo{
  font-size: 1.3rem;
  font-weight: 500;
  margin-top: 0.5rem;
  color: var(--light-color-100);

  span{
    background: var(--gradient-200);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

  @media(min-width: 768px){
    font-size: 2rem;
    letter-spacing: -1px;
    margin-top: 0;
  }
}