nav{
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  padding-top: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: var(--navMargin);
    
  .cta-logo{
    position: relative;
    line-height: 1;
    font-size: clamp(1.5625rem, 0.7813rem + 2.5vw, 2.1875rem);
    font-weight: 700;
    color: var(--lightColor);
        
    span{
      background: var(--gradient);
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
    }
  }

  .nav-container{
    display: flex;
    align-items: center;
    gap: 2rem;

    .nav-button{
      font-weight: 500;
      letter-spacing: 1px;
      padding: 0.6rem 2rem;
      border-radius: var(--borderRadius);
      background: var(--contrastColorTwo);
      transition: var(--transitionTime);

      &:hover{
        background: var(--contrastColorTwoHover);
      }

      @media(max-width: 500px){
        display: none;
      }
    }
  }
}