nav{
  position: fixed;
  top: 0;
  left: 0%;
  width: 100%;
  padding-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-inline: var(--nav-margin);

  .nav-container{
    display: flex;
    align-items: center;
    gap: var(--nav-margin);

    .nav-button{
      font-weight: 500;
      letter-spacing: 1px;
      padding-block: 0.6rem;
      width: 160px;
      border-radius: var(--border-radius-100);
      background: var(--accent-color-100);
      transition: var(--transition-time-100);

      @media (min-width: 768px){
        &:hover{
          background: var(--accent-color-100-hover);
        }
      }

      @media(max-width: 640px){
        display: none;
      }
    }
  }
}